@import 'abstracts/variables';

.card {
  width: 100%;
  height: 100%;
  background-color: $background-secondary;
  box-shadow: 0px 8px 24px 0px #5155c314;
  border-radius: 16px;
  overflow: hidden;
  position: relative;

  &__content {
    padding: 24px 28px 64px 28px;

    &-tight {
      padding-bottom: 28px;
    }

    &-no-spacious {
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
  }

  &__header {
    font-size: 20px;
    font-weight: 700;
    color: $text-primary;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    &-spacious {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__number {
    font-size: 32px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 16px;
  }
}
